$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030; //#272F38
$background-color: $lightgray;

$button-background: #3ac795;
$button-background-secondary: #40dca5;
$widget-background: #3a3633;
